*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: 80px auto;
    width: 100%;
    max-width: 960px;
}


body{
    background-color: #E7E7E7;
}

header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

header img{
    height: 40px;
    margin-right: 10px;
}

input{
    height: 50px;
    border: none;
    padding: 8px;
    border-bottom: solid  black;
}

form {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#nota{
    width: 60px;
}

#botao_submit{
    background-color: green;
    color: white;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
}

::placeholder{
    font-weight: bold;
    color: black;
}

table{
    margin-top: 25px;
    width: 100%;
}

table th{
    border-bottom: solid black;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}


table img{
    height: 35px;
}

table td{
    text-align: center;
    font-size: 18px;
    padding: 12px;
    border-bottom: 2px solid rgba(0,0,0,0.25);
}

.resultado{
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 60px;
}


.aprovado{
    background-color: green;
}

.reprovado{
    background-color: red;
}